html {
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: border-box;
}

/* inter-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/inter-v12-latin-regular.woff2') format('woff2');
  }
  /* inter-700 - latin */
@font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/inter-v12-latin-700.woff2') format('woff2');
  }

/* forum-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/forum-v16-latin-regular.woff2') format('woff2');
}

body {
    background-color: gray;
}

.conteiner {
    width: 1440px;
    margin: 0 auto;
    background-color: rgb(134, 201, 228);
}

.header-div {
display: flex;
background: #0C0C0E;
}

.h1-div {
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-family: 'Forum';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.6px;
    margin: 0;
}

.nav-div {
    margin-left: auto;
    align-self: center;
}

nav {
    margin: 20px;
}

.ul-header {
    display: flex;
    list-style-type: none;
    
}

.header-link {
    color: white;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    margin-left: 31px;
    text-decoration: none;
}

.first-link {
    margin-left: 0;
}

.icon-profile-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    margin: 31px 20px;
}

.icon-profile {
    width: 28px;
    height: 28px;
}

.welcome-section-div {
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%,rgba(18,18,21,0.10) 50% ), url(assets/Welcome.png);
    width: 1440px;
    height: 600px;
    display: flex;
    align-items: center;
}

.welcome-div-textblock {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 220px;
    background: #0C0C0E;
    margin-top: 60px;
}

.welcome-p {
    margin: 0;
    padding: 0;
    
    color: white;
    text-align: center;
    font-family: 'Forum';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 35px 40px;
    padding-left: 42px;
    
}

.line-title {
    width: 50px;
    height: 1px;
    background: #0C0C0E;
    margin-bottom: 40px;
}

.h2-title-section {
    margin: 20px 0;
    color: #0C0C0E;
    font-family: 'Forum';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.about-section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-section-textblock {
    display: flex;
    justify-content: center;
}

.about-section-p {
    color: #000;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin: 0 0;
    margin-bottom: 20px;
}

.about-section-img-group {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.about-section-carousel-input {
    display: flex;
    justify-content: center;
}

.carousel-input-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.carousel-input {
    width: 16px;
    height: 16px;
    background: #0C0C0E;
    border-radius: 50%;
}

.carousel-input-active {
    background: #BB945F;
}