html {
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: border-box;
}

/* inter-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/inter-v12-latin-regular.woff2') format('woff2');
  }
  /* inter-700 - latin */
@font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/inter-v12-latin-700.woff2') format('woff2');
  }

/* forum-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/forum-v16-latin-regular.woff2') format('woff2');
}

body {
    background-color: gray;
}

.conteiner {
    width: 1440px;
    margin: 0 auto;
    background-color: tan;
}

.header-div {
display: flex;
background: #0C0C0E;
}

.h1-div {
    margin: 20px;
}

h1 {
    color: white;
    font-family: 'Forum';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}

.nav-div {
    margin-left: auto;
    align-self: center;
}

nav {
    margin: 20px;
}

.ul-header {
    display: flex;
    list-style-type: none;
    
}

.header-link {
    color: white;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    margin-left: 30px;
    text-decoration: none;
}

.icon-profile-div {
    align-self: center;
    margin: 20px;
}